<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index Page</title>
</head>

<body>
  <h1>Hello World</h1>
  <h2>{{name}} is the name</h2>
  <h2>This is the index page</h2>
  <form action="{{ url_for('form_page') }}" method="POST">
    <label for="id-1">Enter a name:
      <input type="text" name="name" id="id-1" required />
    </label>
    <label for="id-2">
      Enter a password:
      <input type="password" name="password" id="id-2" required />
    </label>
    <button type="submit">Submit</button>
  </form>
</body>

</html>