<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flask Forms</title>
</head>

<body>
  <h1>Hello World</h1>
  {% for comment in comments %}
  <h2>{{comment}}</h2>
  {% endfor %}
  <form method="POST">
    {{template_form.hidden_tag()}}
    {{template_form.my_textfield.label}}
    {{template_form.my_textfield()}}
    {{template_form.my_submit()}}
  </form>
</body>

</html>